<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<html lang="en">

<head>
    <title>Login</title>

    <style>
        .ui.text.center.aligned.container {
            padding-top: 3%;
            width: 600px;

        }

        .ui.card, .ui.cards > .card {
            width: 100%;
            text-align: left;
            flex-direction: row;
        }

        .ui.card > .image {
            width: 20%;
            height: 100%;
        }


    </style>
</head>
<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include templates/navbar.ejs %>

<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Listing
    </h1>
    <div class="ui fluid action input">
        <form action="/listing/search" method="get">
            <div class="ui action input">
                <input list="courses" name="search" placeholder="Search...">
                <button class="ui icon button" type="submit">Search</button>
            </div>
            <datalist id="courses">
                <% for (var j = 0; j < courses.length; j++){ %>
                <option value="<%= courses[j].courseID %>"></option>
                <% } %>
            </datalist>
        </form>
    </div>
    <% for (var i = 0; i < tutors.length; i++){ %>
    <div class="ui card">
        <div class="image" style="float: left">
            <img src="https://www.w3schools.com/w3images/avatar2.png">
        </div>
        <div class="content" style="float: right">

            <%
                var cap = tutors[i].courses.split(",");
                var grades = tutors[i].grades.split(",").sort();
            %>
            <div class="header"><%= tutors[i].userName %></div>
            <div class="description">
                <%= tutors[i].selfIntroduction %>
            </div>
            <form>
                <div class="ui mini action input">
                    <select class="ui compact selection dropdown">
                        <% for (var k = 0; k < cap.length; k++){ %>
                        <option value="<%= cap[k] %>"><%= cap[k] %>   <%= grades[k] %></option>
                        <% } %>
                    </select>
                    <button type="submit" class="ui icon button"><i class="right arrow icon"></i></button>
                </div>
            </form>

        </div>
        <div class="extra content" style="text-align: right">
            rating: <%= tutors[i].rating %>
        </div>
    </div>
    <% } %>

</div>
</body>
<script>
    console.log($("div.ui.action.input > div.ui.button"))
    $("div.ui.action.input > div.ui.button").on("click", function () {
        const subject = $(this).siblings("select.ui.compact.selection.dropdown")[0].value;
        const username = ($(this).parent().parent().siblings("a.header")[0].innerHTML);
        // $.get("/listing/booking",{username: username , subject: subject});
        window.location.href = '/listing/booking?username=' + username + "&&subject=" + subject;

        // $.ajax({
        //     url:   "/listing/booking",
        //     data:  {username: username , subject: subject},
        //     async: false
        // });
        // $.ajax({
        //     url: "/listing/booking",
        //     method: "GET",
        //     data: {username: username , subject: subject},
        //     success: function(result){
        //         console.log(result);
        //         $.get("user/tutorSchedule/booking",{username: username , subject: subject});
        //     }});
    })
    console.log($("select")[0].value);
    
   $(function () {
       $('.ui.dropdown').dropdown();
   })
</script>
</html>