<!DOCTYPE html>
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include templates/included.html %>
<html lang="en">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/loginPage.css"/>
    <style>
        .ui.text.center.aligned.container {
            padding-top: 3%;
            width: 600px;
        }
        .ui.card, .ui.cards>.card{
            width: 100%;
            text-align: left;
            flex-direction: row;
        }
        .ui.card>.image{
            width: 20%;
            height: 100%;
        }



    </style>
</head>
<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include templates/navbar.ejs %>



<div class="ui text center aligned container">
    <h1 class="ui center aligned header">
        Listing
    </h1>
    <div class="ui fluid action input">
        <form>
        <input list="courses" name="search" placeholder="Search...">
        <input type="submit"  class="ui button">Search</input>
        <datalist id="courses">
            <% for (var j = 0; j < courses.length; j++){ %>
            <option value="<%=courses[j].courseID%>"></option>
            <%}%>
        </datalist>
        </form>
    </div>
    <% for (var i = 0; i < tutors.length; i++){ %>
    <div class="ui card">
        <div class="image" style="float: left">
            <img src="https://www.w3schools.com/w3images/avatar2.png">
        </div>
        <div class="content" style="float: right">

            <%
              var cap = tutors[i].courses.split(",");
              var grades = tutors[i].grades.split(",");
            %>
            <a class="header"><%=tutors[i].userName%></a>
            <form>
                <div class="ui action input">
                    <select class="ui compact selection dropdown">
                        <% for (var k = 0; k < cap.length; k++){ %>
                        <option value="<%=cap[k]%>"><%=cap[k]%>   <%=grades[k]%></option>
                        <%} %>
                    </select>
                    <div type="submit" class="ui button"><i class="right arrow icon"></i></div>
                </div>
            </form>
            <div class="description">
                <%=tutors[i].selfIntroduction%>
            </div>
        </div>
        <div class="ui extra content" style="text-align: right">
            rating: <%=tutors[i].rating%>
        </div>
    </div>
    <%}%>

</div>
</body>
</html>