<!DOCTYPE html>
<html lang="en">

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include ./templates/included.html %>
<link rel="stylesheet" href="/stylesheets/profile.css"/>
<script src="../../semantic/dist/semantic.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Tutor <%= tutorDetails[0].userName %> page</title>
</head>

<body>

<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include ./templates/navbar.ejs %>
<% include ./../javascript/ajaxDatabaseExpresso.ejs %>


<div class="ui middle aligned grid" id="profile">

    <div class="ui info modal">
        <div class="content" id="info"></div>
    </div>

    <div class="ui text container">
        <h1>Welcome to <%= tutorDetails[0].userName %>'s profile</h1>
        <p>Edit your general Profile Details</p>
        <div>
            <img src="https://www.w3schools.com/w3images/avatar2.png" style="width: 100px;"/>
        </div>

        <div class="ui raised segment">
            <p><%= tutorDetails[0].selfIntroduction %></p>
        </div>

        <div class="ui styled accordion">

            <!--getting all the courses-->

            <% for (var i = 0; i < capabilityDetails.length; i++){ %>

            <% if (capabilityDetails[i].courseID === selectedCourseId) { %>
            <div class="active title">
                <i class="dropdown icon"></i>
                <%= capabilityDetails[i].courseID %>
            </div>
            <div class="active content">
                <ul>
                    <li>Description: <%= capabilityDetails[i].description %></li>
                    <li>Experience: <%= capabilityDetails[i].experience %></li>
                    <li>Grade: <%= capabilityDetails[i].grade %></li>
                    <li><a href="/listing/booking?username=<%= tutorDetails[0].userName %>&capability=<%= capabilityDetails[i].courseID %>" class='info-modal-link'>BOOK NOW!</a></li>
                </ul>
            </div>
            <% } else { %>
            <div class="title">
                <i class="dropdown icon"></i>
                <%= capabilityDetails[i].courseID %>
            </div>
            <div class="content">
                <ul>
                    <li>Description: <%= capabilityDetails[i].description %></li>
                    <li>Experience: <%= capabilityDetails[i].experience %></li>
                    <li>Grade: <%= capabilityDetails[i].grade %></li>
                    <li><a href="/listing/booking?username=<%= tutorDetails[0].userName %>&capability=<%= capabilityDetails[i].courseID %>" class='info-modal-link'>BOOK NOW!</a></li>
                </ul>
            </div>
            <% } %>

            <% } %>
        </div>

    </div>
</div>


</body>

<script>
    $('.ui.accordion')
        .accordion()
    ;
</script>

<script>
    $(function () {
        $('.info-modal-link').each(function () {
            $(this).on('click', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('.info.modal .content').html(data);
                    $(".info.modal").modal({closable: true, observeChanges: true}).modal('show');
                });
            });
        });
    })
</script>
</html>