<!DOCTYPE html>
<html>

<head>
</head>
<body>
<div id="tutorSchedule" style="overflow-x:auto;", class="table-responsive">
    <br>
    <br>
    <h2 class="text-center"><%= userName %>'s week schedule</h2>
    <br>
    <table id="scheduleTable" class="calendar", class="table", align="center">
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
    </table>
</div>

</body>
<script>

    const calendar = document.getElementsByClassName("calendar")[0];
    for (i = 8; i < 23; i++) {
        const newRow = document.createElement('tr');
        const fsttd = document.createElement('td');
        fsttd.innerHTML = i + ':00';
        newRow.appendChild(document.createElement('td').appendChild(fsttd));

        for (j = 1; j < 8; j++) {
            const newtd = document.createElement('td');
            newtd.id = j + "." + i;
            newtd.className = "empty";
            newtd.innerHTML = ".."
            newRow.appendChild(newtd);
        }
        calendar.appendChild(newRow);
    }

    const AvailableCell = [<%= idAvailable %>].map(function (num) {
        if (num> 99) {
            num = String(Math.round(num));
            num = num.substr(0, 1) + "." + num.substr(1);
            return num
        }
        return String(num);
    });

    for (i = 0; i < AvailableCell.length; i++) {
        console.log("Getting id")
        console.log(document.getElementById(AvailableCell[i]))
        document.getElementById(AvailableCell[i]).className = 'available';
        document.getElementById(AvailableCell[i]).innerHTML = 'Available';
    }

    const BookedCell = [<%= idBooked %>];
    const course = ("<%= course %>").split(",");
    const tutee = ("<%= tutee %>").split(",");
    const meetingLocation = ("<%= location %>").split(",");

    for (i = 0; i < BookedCell.length; i++) {
        document.getElementById(BookedCell[i]).className = 'booked';
        document.getElementById(BookedCell[i]).innerHTML = course[i] + "<br>" + "Tutee: " + tutee[i] + "<br>" + "Location: " +meetingLocation[i];
    }

    document.getElementsByClassName('calendar').className = 'table-hover';


</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        width: 10%;
        height: 200px;
    }

    /*tr:nth-child(even) {
        background-color: #f2f2f2;
    }*/

    .available {
        background-color: #666672;
        color: white;
    }

    .booked {
        background-color: #d14c4c;
        color: white;
    }
</style>
</html>
