<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include ../templates/included.html %>

<head>
    <title>Tutor Profile page</title>
</head>
<body>
<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include ../templates/navbar.ejs %>

<div class="container">

    <h1>Profile!</h1>
    <div class="table-responsive">
        <table style= "width: 100%" class="table-bordered">
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Student Id</th>
                <th>Study Institution</th>
                <th>Joined TutorMe</th>
                <th>Activated as a tutor?</th>
            </tr>
            <tr>
                <td><%= Session.userDetails[0].userName %></td>
                <td><%= userDetails[0].firstName %></td>
                <td><%= userDetails[0].lastName %></td>
                <td><%= userDetails[0].email %></td>
                <td><%= userDetails[0].address %></td>
                <td><%= userDetails[0].dob %></td>
                <td><%= userDetails[0].studentID %></td>
                <td><%= userDetails[0].studySchool %></td>
                <td><%= userDetails[0].joinDate %></td>
                <td><% if (userDetails[0].tutor_activation === 1) { %>
                    Yes
                    <% } else { %>
                    No
                    <% }%>
                </td>
            </tr>
        </table>
    </div>
    <p></p>
</div>

</body>
</html>