<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include ../templates/included.html %>

<head>
    <title>Tutor Profile page</title>
</head>
<body>
<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include ../templates/navbar.ejs %>
<% include ../../javascript/ajaxDatabaseExpresso.ejs %>

<div class="container">

    <h1>Welcome to your profile, <%= userDetails[0].firstName %></h1>
    <div>
        <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" style="width: 100px;"/>
    </div>
    <hr>
    <!--Edit the general profile details-->
    <div id="generalProfileDetails">
        <h3>Edit general de  ils</h3>
        <p>Edit your general Profile Details</p>
        <form action="/tutor/profile/updateProfile" method="post">

            <li>Username: <input type="hidden" name="formUsername" value="<%= userDetails[0].userName %>"><%= userDetails[0].userName %></li>
            <li>First Name: <input type="text" name="formFirstname" value="<%= userDetails[0].firstName %>"> </li>
            <li>Last Name: <input type="text" name="formLastname" value="<%= userDetails[0].lastName %>"> </li>
            <li>Email: <input type="text" name="formEmail" value="<%= userDetails[0].email %>" disabled> </li>
            <li>Address: <input type="text" name="formAddress" value="<%= userDetails[0].address %>"> </li>
            <li>Date of Birth: <input type="date" name="formDOB" value="<%= userDetails[0].dob %>" disabled> </li>
            <li>Student Id: <input type="text" name="formID" value="<%= userDetails[0].studentID %>" > </li>
            <li>Study Institution: <input type="text" name="formSchool" value="<%= userDetails[0].studySchool %>"> </li>
            <li>Joined TutorMe: <input type="text" value="<%= userDetails[0].joinDate %>" disabled> </li>
            <li>Activated as a tutor?: <input type="text" value="<% if (userDetails[0].tutor_activation === 1) { %>
                Yes
                <% } else { %>
                No
                <% }%>" disabled> </li>

            <br><br>
            <li>Introduction: <input type="text" name="formUsername" value="<%= Data[0].selfIntroduction %>" style="width: 80%" disabled></li>

            <input type="submit" value="Edit">
        </form>
    </div>
    <hr>

    <!--This is the section containing the course information, allowing adding further courses that the tutor is teaching, link to backend which links to Capabilities database-->
    <div id="tutorCourseDetails">
        <h3>Courses you can tutor</h3>
        <div class="card" style="width: 50rem;">

            <!--courselist generated from DB table of courseList and datalist options listed for all existing instances of courses-->
            <input list="courses" type="text" id="myInput" placeholder="Course..." style="width: 40rem;">
            <datalist id="courses">
                <% for (var i = 0; i < CourseList.length; i++) { %>
                <option value="<%= CourseList[i].courseID %>">
                <% } %>
            </datalist>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" onclick="coursePopup()" data-toggle="modal" data-target="#myModal">Add</button>
            <ul id="tutorCourseList" class="list-group list-group-flush">

                <!--For loop checking through obtained Capability information and list all the courses that is the tutors capability -->
                <% for (var i = 0; i < Data.length; i++){ %>
                <li class="list-group-item"><%= Data[i].courseID %></li>
                <% } %>

            </ul>
        </div>
    </div>
</div>




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Course name</h4>
            </div>
            <div class="modal-body">
                <p>Description</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<script>
    // Create a new list item when clicking on the "Add" button


    function coursePopup (){
        var courseID = document.getElementById("myInput").value;
        ajaxDatabaseExpress("SELECT *　FROM tableCourseList WHERE courseID = "+courseID, function(data){
            alert(data);
        });
    }

    function newElement() {
        var li = document.createElement("li");
        var inputValue = document.getElementById("myInput").value;
        var t = document.createTextNode(inputValue);
        li.setAttribute("class", "list-group-item")
        li.appendChild(t);
        if (inputValue === '') {
            alert("You must write something!");
        } else {
            document.getElementById("tutorCourseList").appendChild(li);
        }
        document.getElementById("myInput").value = "";

        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function() {
                var div = this.parentElement;
                div.style.display = "none";
            }
        }
    }

    //demo code for using ajaxDatabaseExpress
    //ajaxDatabaseExpress("SELECT * FROM tableCourseList", alert);

</script>

</body>
</html>