<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<html>

<!-- The included template contains all the links, JS and Styling files to be included in the pages, to alter the contents please refer to templates/included.html file -->
<% include ../templates/included.html %>

<head>
    <title>Tutor Profile page</title>
</head>
<body>
<!--The navbar template included below, to alter the contents please refer to templates/navbar.ejs file-->
<% include ../templates/navbar.ejs %>

<div class="container">

    <h1>Welcome to your profile, <%= userDetails[0].firstName %></h1>
    <div>
        <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png" style="width: 100px;"/>
    </div>
    <hr>
    <!--Edit the general profile details-->
    <div id="generalProfileDetails">
        <h3>Edit general details</h3>
        <p>Edit your general Profile Details</p>
        <form action="/updateProfile">

            <li>Username: <input type="text" name="formUsername" value="<%= userDetails[0].userName %>" disabled></li>
            <li>First Name: <input type="text" name="formFirstname" value="<%= userDetails[0].firstName %>"> </li>
            <li>Last Name: <input type="text" name="formLastname" value="<%= userDetails[0].lastName %>"> </li>
            <li>Email: <input type="text" name="formEmail" value="<%= userDetails[0].email %>" disabled> </li>
            <li>Address: <input type="text" name="formAddress" value="<%= userDetails[0].address %>"> </li>
            <li>Date of Birth: <input type="date" name="formDOB" value="<%= userDetails[0].dob %>" disabled> </li>
            <li>Student Id: <input type="text" name="formID" value="<%= userDetails[0].studentID %>" > </li>
            <li>Study Institution: <input type="text" name="formSchool" value="<%= userDetails[0].studySchool %>"> </li>
            <li>Joined TutorMe: <input type="text" value="<%= userDetails[0].joinDate %>" disabled> </li>
            <li>Activated as a tutor?: <input type="text" value="<% if (userDetails[0].tutor_activation === 1) { %>
                Yes
                <% } else { %>
                No
                <% }%>" disabled> </li>

            <br><br>
            <input type="submit" value="Edit">

        </form>
    </div>

</div>

</body>
</html>