<link rel="stylesheet" type="text/css" href="/stylesheets/tuteeBooking.css"/>


<body>
<i class="close link icon" onclick="closeModal()"></i>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">First</a>
    <a class="item" data-tab="second">Second</a>
    <a class="item" data-tab="third">Third</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="first">
    <h3 class="header">
        Booking from <%= userDetailsName.userName %>
    </h3>
    <div class="ui divider"></div>
    <div class="ui grid">
        <div class="two wide column">
            <div class="ui small image">
                <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png"/>
            </div>
        </div>
        <div class="fourteen wide column">
            <form id="ajaxForm" action="/listing/booking/confirm" method="get">
                <p><input name="tutorID" value="<%= tutor %>" readonly>Tutor Name: <%= tutor %> </p>
                <p><input name="tuteeID" value="<%= userDetails[0].firstName %>" readonly>Tutee
                    Name: <%= userDetailsName[0].firstName %></p>
                <p><input name="courseID" value="<%= subject %>" readonly> Subject: <%= subject %> </p>
                <p><input type="text" name="location">Location: </p>
                <p><input type="text" name="description"> Requirements specified:</p>
                <p>Attachment: </p>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
    <div class="ui grid">
        <div class="right floated five wide column">
            <button class="right floated ui positive right labeled icon button" onclick="submition()">
                submit
                <i class="info icon"></i>
            </button>
        </div>
    </div>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
    <% include ./tutorScheduleBooking.ejs %>
</div>
<div class="ui bottom attached tab segment" data-tab="third">
    Third
</div>


</body>

<script>

    function closeModal() {
        $('.ui.info.modal').modal('hide')

    }


    // $(function () {
    //     $('.ui.info.modal').modal('attach events', '.ui.deny.button', 'hide');
    // })
    $('.menu .item')
        .tab()
    ;

    function submition() {
        console.log("click");
    }

    $("#ajaxForm").submit(function (event) {
        event.preventDefault();
        const form = $(this);
        const url = form.attr('action');
        var formAssets = $(this).find(":input:not(button)");
        const JSONObject = {};

        for (var i = 0; i < formAssets.length; i++) {
            JSONObject[formAssets[i].name] = formAssets[i].value;
            console.log(formAssets[i].name);
            console.log(formAssets[i].value);
        }
        JSONObject.time = ListOfDates;
        console.log(JSONObject);
        if (ListOfDates > 0) {
            $.ajax({
                url: url,
                method: "GET",
                data: JSONObject,
                success: function (result) {
                    console.log(result);
                }
            });
        }
    })

</script>

