
<link rel="stylesheet" type="text/css" href="/stylesheets/tutorBooking.css"/>
<body>
<i class="close link icon" onclick="closeModal()"></i>

<h3 class="header" id="modalHeader">
    Booking from <%= bookingData.tuteeID %>

</h3>
<div class="ui divider"></div>
<div class="ui grid">
    <div class="two wide column">
        <div class="ui small image">
            <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person.png"/>
        </div>
    </div>
    <div class="fourteen wide column">
        <form class="ui equal width form" action="/user/tutorBooking/alt" method="get">
            <label for="tuteeID">Tutor</label>
                <input id="tuteeID" type="text" name="tuteeID" value="<%= bookingData.tuteeID %>">
            <p>
                <label for="subject">Subject</label>
                <input id="subject" type="text" name="subject" value="<%= bookingData.courseID %>"></p>
            <p>
                <label for="time">Time Selection</label>
            <div class="ui mini action input">
                <% const ava = availableTime.split(",");

                %>
                <select id="time" name="time" class="ui compact selection dropdown">
                    <% for (var k = 0; k < ava.length; k++){
                            Clickdate = new Date(ava[k]);
                            Clickdate.setTime(Clickdate.getTime() + Clickdate.getTimezoneOffset() * 60 * 1000);
                            ava[k]= String(Clickdate);
                    %>
                    <option value="<%= ava[k] %>"><%= ava[k] %></option>
                    <% } %>
                </select>
                <button type="submit" class="ui icon button"><i class="right arrow icon"></i></button>
            </div>
            </p>
            <p>
                <label for="location">Location</label>
                <input id="location" type="text" name="location" value="<%= bookingData.location %>"></p>
            <p>
                <label for="des">Description</label>
                <input id="des" type="text" name="des" value="<%= bookingData.description %>">
            </p>
            <button type="submit" value="alteration">Alt</button>

        </form>


    </div>
</div>
<div class="ui grid">
    <div class="right floated seven wide column">
        <button class="ui positive right labeled icon button">
            Info
            <i class="info icon"></i>
        </button>
        <button onclick="deleting()" id="delete" class="right floated ui negative right labeled icon button">
            Delete appointment
            <i class="remove icon"></i>
        </button>
    </div>
</div>
</body>

<script>

    function closeModal() {
        $('.ui.info.modal').modal('hide')

    }

    const deleteButton = document.getElementById("delete");

    function deleting() {
        console.log("clicked deleted");
        const confirming = window.confirm("Confirm to delete this appointment?")
        if (confirming) {
            console.log("yes")
            console.log("<%= bookingData.bookingID %>")
            $.ajax({
                url: "/user/tutorBooking/deleting",
                data: {bookingID: "<%= bookingData.bookingID %>"},
                success: function (msg) {
                    console.log(msg);
                },
                error: function (msg) {
                    console.log("error");
                }
            })
        }
        else {
            console.log("no")
        }
    };
</script>

